.footer {
  width: 100%;
  height: 960px * $height-rate; // v - 440px, h -
  position: relative;
  @include display-flex(row);
  align-items: flex-end;
  background: linear-gradient(180deg, transparent 48%, $color-footer 48%);
  margin-top: 25px * $height-rate;
  @include _aspect-ratio {
    height: 960px * $height-rate-big;
    margin-top: 25px * $height-rate-big;
  }

  @include _768 {
    height: auto;
    align-items: flex-start;
    background: $color-footer;
  }


  &:before,
  &:after {
    position: absolute;
    height: (960px - 480px) * $height-rate;
    width: 100%;
    content: '';
    left: 0;
    top: 0;
    background: $color-background;
    @include _aspect-ratio {
      height: (960px - 480px) * $height-rate-big;
    }
    @include _768 {
      display: none;
    }
  }

  &:after {
    clip-path: ellipse(63.5% 880px * $height-rate at 45% -440px * $height-rate);

    @include _1170 {
      clip-path: ellipse(75% 880px * $height-rate at 45% -440px * $height-rate);
    }

    @include _aspect-ratio {
      clip-path: ellipse(70% 880px * $height-rate-big at 45% -440px * $height-rate-big);
    }
  }

  &:before {
    background: $color-footer;
    height: (960px - 480px - 2px) * $height-rate;
    top: 2px;
    @include _aspect-ratio {
      height: (960px - 480px - 2px) * $height-rate-big;
    }
  }

  .footer-content {
    @include display-flex(column);
    height: 480px * $height-rate;
    width: 100%;
    @include _aspect-ratio {
      height: 480px * $height-rate-big;
    }

    @include _768 {
      height: auto;
      padding: 16px;
    }

    .footer-content_row {
      @include display-flex(row);
      justify-content: space-between;
      margin-bottom: 48px * $height-rate;
      @include _aspect-ratio {
        margin-bottom: 48px * $height-rate-big;
      }

      @include _768 {
        @include display-flex(column);
        align-items: center;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.footer-content_row__vertical {
        flex-direction: column;

        @include _768 {

          .footer-title {
            display: none;
          }
        }
      }

      .footer-content_row__column {

        @include _768 {
          @include display-flex(column);
        }

        &:nth-child(2) {
          padding-top: 2px * $height-rate;
        }
        &:first-child,
        &:last-child {
          padding-top: 28px * $height-rate;
          @include _aspect-ratio {
            padding-top: 28px * $height-rate-big;
          }
        }

        &:last-child {
          margin-right: 0;
        }
        @include _768 {
          width: 100%;

          &:first-child {
            order: 2;
            @include display-flex(row);
            flex-wrap: wrap;
          }

          &:nth-child {
            order: 1;
          }

          &:last-child {
            order: 3;
          }
        }
      }

    }

  }
}

.footer-title {
  display: block;
  color: $color-white;
  opacity: .5;
  font-size: $font-size-24;
  font-family: $font-family-accent;
}


.newsletter {
  margin-top: 50px * $height-rate;
  font-family: $font-family-accent;
  width: 378px * $width-rate;
  @include _aspect-ratio {
    margin-top: 50px * $height-rate-big;
  }
  @include _768 {
    width: 100%;
    order: 1;
  }

  .newsletter_input-group {
    margin-top: 22px * $height-rate;
    border-bottom: 2px solid $color-white;
    @include display-flex(row);
    justify-content: space-between;
    @include _aspect-ratio {
      margin-top: 22px * $height-rate-big;
    }

    .newsletter_input-group__input {
      background: transparent;
      padding: 0 4px * $width-rate 10px * $height-rate 0;
      margin: 0;
      color: $color-white;
      font-size: $font-size-18;
      border: 0;
      outline: 0;
      flex-grow: 1;

      @include _aspect-ratio {
        padding: 0 4px * $width-rate 10px * $height-rate-big 0;
      }

      @include _768 {
        font-size: 12px;
      }

      &::placeholder {
        color: $color-white;
        padding: 0;
        margin: 0;
        font-size: $font-size-18;

        @include _768 {
          font-size: 12px;
        }
      }
    }

    .newsletter_input-group__submit {
      @include circle(30px, rgba($color-white, .2));
      appearance: none;
      outline: 0;
      border: 0;
      margin-bottom: 10px * $height-rate;
      padding: 0;
      @include display-flex(column);
      align-items: center;
      justify-content: center;
      @include _aspect-ratio {
        margin-bottom: 10px * $height-rate-big;
      }

      @include _768 {
        width: 24px;
        height: 24px;
      }

      &:hover {
        background: $color-white;
      }

      svg {
        display: block;
        width: autogit pu;
        height: 14px * $height-rate;
        @include _aspect-ratio {
          height: 14px * $height-rate-big;
        }

        @include _768 {
          height: 14px;
        }
      }
    }
  }
}


.footer_logo {
  display: block;
  width: 408px * $width-rate;
  height: auto;

  @include _768 {
    width: 200px;
    margin: 0 auto;
  }
}

.footer_link {
  text-align: right;
  font-family: $font-family-accent;
  font-size: $font-size-24;
  color: $color-white;
  text-decoration: none;
  margin-bottom: 22px * $height-rate;
  display: block;
  @include _aspect-ratio {
    margin-bottom: 22px * $height-rate-big;
  }
  
  @include _768 {
    text-align: center;
    margin: 16px 0;
    position: relative;

    &:not(:last-child) {
      &:after {
        position: absolute;
        content: '';
        width: 58%;
        height: 1px;
        background: $color-white;
        opacity: .5;
        bottom: -16px;
        left: 21.5%;
      }
    }

  }

  &:first-child {
    margin-bottom: 44px * $height-rate;
    @include _aspect-ratio {
      margin-bottom: 44px * $height-rate-big;
    }
    @include _768 {
      margin-bottom: 16px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
  
  &:hover {
    text-decoration: underline;
  }
}

.footer_socials {
  @include display-flex(row);
  justify-content: center;
  padding: 0 88px * $width-rate;
  margin-top: 34px * $height-rate;
  align-items: center;
  @include _aspect-ratio {
    margin-top: 34px * $height-rate-big;
  }

  @include _768 {
    margin-top: 16px;
    padding: 0 30px;
    flex-wrap: wrap;
  }

  .footer_socials__link {
    display: inline-block;
    width: auto;
    color: $color-white;
    font-size: $font-size-18;
    margin-right: 40px* $width-rate;
    cursor: pointer;

    @include _768 {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background: rgba($color-white, .5);
      margin-right: 10%;
      margin-bottom: 16px;
      @include display-flex(column);
      align-items: center;

      &:nth-child(5),
      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: $color-white;
      }
    }

    @include _480 {
      margin-right: 7.5%;
    }

    @include _350 {
      margin-right: 5%;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    svg {
      width: 40px * $width-rate;
      height: auto;
      opacity: .5;

      @include _768 {
        opacity: 1;
        width: 18px;
        margin: auto;
        display: block;
        path {
          fill: $color-footer;
        }
        g g rect {
          fill: $color-footer;
        }

        &.yandex_dzen_icon {
          path {
            &:nth-child(2) {
              opacity: .7;
            }
            &:nth-child(3) {
              opacity: .5;
            }
            &:last-child {
              fill: $color-white;
            }
          }
        }
      }
    }

    & + .footer_socials__block {
      width: 0;
      overflow: hidden;
      display: none;
    }

    &:hover + .footer_socials__block {
      width: auto;
      display: flex;
    }

    .footer_socials__block {
      display: flex;
      transition: width .3s linear;
      height: 40px * $height-rate;
      align-items: center;
      max-width: 0;
      overflow: hidden;
      transition: all 1s ease-out;

      @include _768 {
        display: none;
      }

      .footer_socials__link {
        width: auto;
        text-decoration: none;
        margin-right: 20px * $width-rate;
        position: relative;
        white-space: nowrap;

        &:first-child{
          margin-left: 40px * $width-rate;
        }

        &:last-child {
          margin-right: 0;
        }

        &:after {
          transition: width .3s ease-out;
          content: '';
          width: 0;
          height: 3px;
          background: $color-white;
          position: absolute;
          bottom: -6px;
          left: 0;
        }

        &:hover {
          &:after {
            width: 70px * $width-rate;
          }
        }
      }
    }

    &.active_soc{
      .footer_socials__block{
        max-width: 400px;
        transition: all 1s ease-out;
      }
    }
  }
  span{
    display: flex!important;
  }
}

.footer-content_copyright {
  font-family: $font-family-accent;
  font-size: $font-family-base;
  color: $color-white;
  opacity: .5;
}