@mixin menu-item() {
  color: $color-white;
  font-size: $font-size-24;
  font-family: $font-family-base;
  text-decoration: none;
  margin-bottom: 32px * $height-rate;
  @include _aspect-ratio {
    margin-bottom: 32px * $height-rate-big;
  }
}

@mixin right-menu-icon($width, $height) {
  display: block;
  width: $width * $width-rate;
  height: $height * $height-rate;
  object-fit: cover;
  @include _aspect-ratio {
    height: $height * $height-rate-big;
  }

  svg {
    width: 100%;
    height: auto;
  }

  @include _1600 {
    width: .9 * $width * $width-rate;
    height: .9 * $height * $height-rate;
    @include _aspect-ratio {
      height: .9 * $height * $height-rate-big;
    }
  }

}

.main-menu {
  z-index: 99999;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 170px * $height-rate;
  @include display-flex(row);
  @include _aspect-ratio {
    height: 170px * $height-rate-big;

  }
  @include _768 {
    height: 100px;
  }
  @include _480 {
    height: 45px;
  }

  .main-menu_logo {
    padding: 30px * $height-rate 86px * $width-rate;
    background: $color-accent;
    max-width: $nav-sidebar-width;
    width: $nav-sidebar-width;
    @include _aspect-ratio {
      padding: 30px * $height-rate 86px * $width-rate;
    }
    @include _768 {
      max-width: 100%;
      width: 100%;
      padding: 0;
      @include display-flex(column);
      justify-content: center;
      background: $color-accent !important;
    }
    &.gradient-background {
      background: linear-gradient(0deg, transparent 0%, $color-accent 100%);
    }

    &.background-transparent {
      background: transparent;
    }

    a {
      display: block;
      .main-menu_logo__image {
        display: block;
        width: 300px * $width-rate;
        height: auto;
        margin: 0 auto 0;

        @include _768 {
          width: 300px * $width-rate;
        }

        @include _480 {
          width: 70px;
        }
      }
    }
  }

  .main-menu_container {
    max-width: $nav-menu-width;
    width: $nav-menu-width;
    margin-left: 20px * $width-rate;
    background-color: $color-accent;
    
    @include _768() {
      display: none;
    }
    &.gradient-background {
      background: linear-gradient(0deg, transparent 0%, $color-accent 100%);
    }

    &.gradient-background-art {
      background-color: $color-accent;
    }

    &.background-transparent {
      background: transparent;
    }

    .menu-container {
      padding: 32px * $height-rate 60px * $width-rate;
      @include display-flex(row);
      justify-content: space-between;

      @include _aspect-ratio {
        padding: 32px * $height-rate-big 60px * $width-rate;
      }

      .menu-container_left {
        @include display-flex(row);
        flex-wrap: wrap;
        max-width: 880px * $width-rate;

        @include _1600 {
          max-width: 800px * $width-rate
        }

        @include _1400 {
          max-width: 800px * $width-rate
        }

        @include _1250 {
          max-width: 900px * $width-rate
        }

        @include _1170 {
          max-width: 800px * $width-rate
        }

        @include _1005 {
          max-width: 900px * $width-rate
        }

        .menu-container_left__item {
          @include menu-item;
          margin-left: 100px * $width-rate;
          position: relative;

          &:first-child, &:nth-child(5) {
            margin-left: 0;
          }

          &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 3px;
            bottom: -5px;
            left: 0;
            transition: width .3s ease-out;
          }

          &:hover {
            text-decoration: none;
            color: $color-white;

            &:after {
              width: 110%;
              background: $gradient-blue;
            }
          }

          &.active {
            &:after {
              width: 110%;
              background: #fd5893;
            }
          }

        }
      }

      .menu-container_right {
        @include display-flex(row);

        .menu-container_socials,
        .menu-container_live {
          @include menu-item;

          &:hover {
            color: $color-primary;
          }
        }

        .menu-container_live {
          @include display-flex(row);
          color: $color-red;
          align-items: center;

          .menu-container_live__icon {
            margin-right: 20px * $width-rate;
            @include right-menu-icon(31px, 31px);

            svg path#stroke {
              stroke: $color-red;
            }

            svg path#circle {
              fill: $color-red;
            }

            svg{
              height: 100%;
            }
          }

          &:hover {
            .menu-container_live__icon {
              svg path#stroke {
                stroke: $color-primary;
              }

              svg path#circle {
                fill: $color-primary;
              }
            }
          }
        }

        .menu-container_socials {
          @include display-flex(row);
          align-items: center;

          .menu-container_socials__icon {
            margin-right: 20px * $width-rate;
            @include right-menu-icon(30px, 30px);

            svg {
              fill: $color-white;
              height: 100%;
            }
          }

          &:hover {
            .menu-container_socials__icon {
              svg {
                fill: $color-primary;
              }
            }
          }
        }

        .menu-container_search {
          margin-top: 18px * $height-rate;
          margin-left: 60px * $width-rate;
          cursor: pointer;
          @include _aspect-ratio {
            margin-top: 18px * $height-rate-big;
          }

          .menu-container_search__icon {
            @include right-menu-icon(60px, 60px);

            svg {
              fill: $color-white;
            }

            &:hover {
              svg path {
                fill: $color-primary;
              }
            }
          }
        }
      }

      .menu-container__search {
        width: 100%;
        height: 72px * $height-rate;
        border-bottom: 2px solid $color-white;
        padding-bottom: 10px * $height-rate;
        @include display-flex(row);
        align-items: flex-end;
        display: none;
        animation: menu-search-r2l .5s linear;
        @include _aspect-ratio {
          height: 72px * $height-rate-big;
          padding-bottom: 10px * $height-rate-big;
        }

        form {
          @include display-flex(row);
          flex-grow: 1;
        }

        .menu-container__search_input {
          display: block;
          flex-grow: 1;
          padding: 0 24px * $width-rate;
          background: transparent;
          outline: 0;
          border: 0;
          color: $color-white;
          font-size: $font-size-24;
          font-family: $font-family-accent;
        }

        .menu-container__search_close {
          margin-bottom: 10px * $height-rate;
          @include _aspect-ratio {
            margin-bottom: 10px * $height-rate-big;
          }

          svg {
            path {
              fill: $color-white;
            }
          }

          &:hover {
            svg path {
              fill: $color-primary;
            }
          }
        }
      }

      .menu-container__socials {
        width: 100%;
        height: 72px * $height-rate;
        padding-bottom: 10px * $height-rate;
        @include display-flex(row);
        align-items: flex-end;
        justify-content: space-between;
        display: none;
        @include _aspect-ratio {
          height: 72px * $height-rate-big;
          padding-bottom: 10px * $height-rate-big;
        }

        .menu-container__socials_close,
        .menu-container__socials_container {
          animation: menu-show-r2l 1.25s linear;
        }

        .menu-container__socials_close {

          svg {
            path {
              fill: $color-white;
            }
          }

          &:hover {
            svg path {
              fill: $color-primary;
            }
          }
        }

        .menu-container__socials_container {
          @include display-flex(row);
          align-items: center;

          .menu-container__socials__link {
            height: 30px * $height-rate;
            width: auto;
            margin-right: 50px * $width-rate;
            @include _aspect-ratio {
              height: 30px * $height-rate-big;
            }

            &:last-child {
              margin-right: 0;
            }

            svg {
              fill: $color-white;
              height: 100%;
              width: auto;

            }

            &:hover {
              svg {
                g g rect {
                  fill: $color-primary;
                }

                path {
                  fill: $color-primary;
                }
              }
            }
          }
        }
      }

    }
  }
}

.programs__contain-menu {
  background: rgba(7, 19, 43, 0.9);
  box-shadow: 0px 20px 20px rgba(7, 19, 43, 0.25);
  max-height: 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top:0;
  z-index: 9999;
  font-family: $font-family-base;
  font-size: $font-size-24;
  transition: 0.5s;

  &.activepm{
    max-height: 395px * $height-rate;
    height: 395px * $height-rate;
    transition: 1s;
  }
  .programs__contain {
    padding-top: 210px * $height-rate;
    padding-left: 550px * $width-rate;
    display: flex;

    .prog__list{
      margin-right: 120px * $width-rate;

      .comp__list{
        margin-bottom: 25px * $width-rate;
        position: relative;
        width: max-content;

        &:last-child{
          margin-bottom: 0;
        }

        a{
          color: $color-white;
          text-decoration: none;

          svg{
            width: 30px * $width-rate;
            fill: $color-white;
          }
        }
        &:after {
          position: absolute;
          content: '';
          width: 0;
          height: 3px;
          bottom: -5px;
          left: 0;
          transition: width .3s ease-out;
        }
      }
    }
  }

  .prgl1{
    .comp__list {
      &:nth-child(1) {

        &:hover {
          text-decoration: none;
          color: $color-white;

          &:after {
            width: 105%;
            background: linear-gradient(90deg, #F86363 0%, #FF53A5 100%);
          }
        }
      }
      &:nth-child(2) {

        &:hover {
          text-decoration: none;
          color: $color-white;

          &:after {
            width: 105%;
            background: linear-gradient(270deg, #FBB224 0%, #FB7E24 100%);
          }
        }
      }
      &:nth-child(3) {

        &:hover {
          text-decoration: none;
          color: $color-white;

          &:after {
            width: 105%;
            background: linear-gradient(270deg, #C9FA98 0%, #50DA6E 100%);
          }
        }
      }
    }
  }
  .prgl2{
    .comp__list {
      &:nth-child(1) {

        &:hover {
          text-decoration: none;
          color: $color-white;

          &:after {
            width: 105%;
            background: linear-gradient(270deg, #24FBC7 0%, #169EEB 100%);
          }
        }
      }
      &:nth-child(2) {

        &:hover {
          text-decoration: none;
          color: $color-white;

          &:after {
            width: 105%;
            background: linear-gradient(90deg, #195CAE 0%, #169EEB 100%);
          }
        }
      }
      &:nth-child(3) {

        &:hover {
          text-decoration: none;
          color: $color-white;

          &:after {
            width: 105%;
            background: linear-gradient(90deg, #F86363 0%, #FF53A5 100%);
          }
        }
      }
    }
  }
  .prgl3{
    .comp__list {
      &:nth-child(1) {

        &:hover {
          text-decoration: none;
          color: $color-white;

          &:after {
            width: 105%;
            background: linear-gradient(270deg, #FBB224 0%, #FB7E24 100%);
          }
        }
      }
      &:nth-child(2) {

        &:hover {
          text-decoration: none;
          color: $color-white;

          &:after {
            width: 105%;
            background: linear-gradient(270deg, #C9FA98 0%, #50DA6E 100%);
          }
        }
      }
      &:nth-child(3) {

        &:hover {
          text-decoration: none;
          color: $color-white;

          &:after {
            width: 105%;
            background: linear-gradient(270deg, #24FBC7 0%, #169EEB 100%);
          }
        }
      }
    }
  }
}


.navigation-mobile {
  display: none;
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;

  @include _768 {
    @include display-flex(row);
    align-items: center;
    padding: 0 34px;
    justify-content: space-between;
  }

  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 60px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: linear-gradient(90deg, #195CAE 0%, #169EEB 100%);
    opacity: .8;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &.nav-menu_active {
    &:after {
      height: 250px;
    }
  }

  &.nav-menu_search-active {
    .live-view-button {
      display: none;
    }
    .nav-button {
      display: none;
    }
    .nav-menu-container {
      display: none;
    }
    .search_button {
      display: none;
    }
    .search_container {
      display: block;
    }
  }

  .search_button {
    width: 38px;
    height: 38px;

    .search_button__icon {
      width: 100%;
      height: auto;
    }
  }

  .search_container {
    display: none;
    width: 100%;

    form {
      @include display-flex(row);
      flex-grow: 1;
      position: relative;

      .close__search {
        position: absolute;
        background: transparent;
        border: 0;
        left: 0;
        bottom: 15px;
        padding: 0;
        z-index: 100;
      }
    }

    .search_container__field {
      display: block;
      flex-grow: 1;
      padding: 0 5px 0 25px;
      background: transparent;
      outline: 0;
      border: 0;
      color: $color-white;
      font-size: 14px;
      font-family: $font-family-accent;
      position: relative;
      border-bottom: 2px solid $color-white;
      margin-right: 8px;
      border-radius: 0;

      &::placeholder{
        color: rgba(255, 255, 255, 0.5);
      }
    }
    .search_container__button {
      border: 2px solid $color-white;
      font-size: 14px;
      background-color: transparent;
      position: relative;
      transition: border-color linear .3s;
      color: $color-white;
      padding: 11px 16px;
      border-radius: 10px;
      font-family: $font-family-accent;

      .search_button__text {
        display: block;
      }

      &:hover {
        background-color: transparent;
        border-color: $color-primary;
      }
    }
  }

  .live-view-button {
    margin-bottom: 50px;
    text-decoration: none;
    text-align: center;
    justify-content: center;

    .live-view-button_icon {
      @include display-flex(column);
      justify-content: center;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 3px solid transparent;
      box-sizing: content-box;
      margin: auto;
      background:
              linear-gradient(90deg, #F86363 0%, #FF53A5 100%) padding-box, /*this is your grey background*/
              linear-gradient($color-white , rgba($color-white, 0.1)) border-box;
      .live-view-button_icon__element {
        width: 20px;
        height: auto;
        //margin: 0 auto;
        margin-left: 21px;
      }
    }

    .live-view-button_text {
      text-align: center;
      color: $color-white;
      font-size: 10px;
      font-family: $font-family-accent;
      font-weight: 700;
      margin-top: 5px;
      display: block;
    }
  }

  .nav-button {
    width: 38px;
    height: 16px;
    cursor: pointer;

    .nav-button_icon {
      width: 100%;
      height: auto;
    }
  }

  .nav-menu-container {
    width: 100%;
    position: absolute;
    display: none;
    padding: 24px 16px;
    left: 0;
    top: -190px;

    &.nav-menu-container_active {
      @include display-flex(row);
      justify-content: space-between;
      height: 190px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
    }
    
    .nav-menu-container_column {
      @include display-flex(column);

      .nav-menu-link {
        font-size: 18px;
        margin-bottom: 16px;
        font-family: $font-family-accent;
        font-weight: 700;
        color: $color-white;
        text-decoration: none;
        position: relative;
        width: max-content;

        &.nav-menu-link_active {
          &:after {
            content: '';
            width: 110%;
            height: 2px;
            position: absolute;
            bottom: -8px;
            left: 0;
            background: linear-gradient(90deg, #F86363 0%, #FF53A5 100%);
          }
        }
      }
    }
  }
}
