.sortart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px * $height-rate;
  @include _aspect-ratio {
    margin-bottom: 50px * $height-rate-big;
  }
  @include _768 {
    margin-bottom: 16px;
    padding: 0 16px;
  }

  .leftsel {

    .artsort {
      font-family: $font-family-accent;
      margin-right: 30px * $width-rate;
      font-size: $font-size-18;
      color: $color-primary;
      border: 0 $color-background;
      background-color: $color-background;
      opacity: 0.5;

      .arrowsort {
        margin-left: 4px;
        display: none;
      }

      .active {
        display: inherit;
      }

      svg {
        width: 14px * $width-rate;
        padding-bottom: 2px;
        @include _768 {
          width: 6px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .active {
      opacity: 1;
    }
  }

  .rightsel {
    display: flex;

    .categoryart {
      padding-right: 10px * $height-rate;
      opacity: 0.5;
      @include _aspect-ratio {
        padding-right: 10px * $height-rate-big;
      }

      &:last-child {
        padding-right: 0;
      }

    }

    .active {
      opacity: 1;
    }
  }
}