.main-menu {
  background: linear-gradient(180deg, rgba(7, 19, 43, 0.6) 0%, rgba(7, 19, 43, 0) 100%);
  position: absolute;

  .main-menu_logo {
    background: transparent;
  }

  .main-menu_container {
    background: transparent;
  }
}

.navigation-mobile {
  @include _768 {
    display: none;
  }
}
.errorpage {
  background: #195CAE;
  height: 100vh;

  .position {
    @include display-flex(column);
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .errormesg {
      display: flex;
      flex-wrap: wrap;
      margin: auto;

      @include _768() {
        width: 232px;
      }

      .imgerror {
        margin-right: 6.25rem;

        width: 490px * $width-rate;


        @include _768() {
          width: 100%;
          margin: 0;
        }

        img{
          @include _768() {
            width: 100%;
          }
        }
      }

      .errortext {
        color: $color-white;
        font-family: $font-family-accent;

        @include _768 {
          @include display-flex(row);
          flex-wrap: wrap;
          margin-top: 16px;
        }

        h1 {
          font-size: 3.75rem;
          margin-bottom: 1.5rem;

          @include _768 {
            font-size: 54px;
            margin-right: 8px;
          }
        }

        h2 {
          font-size: 2.25rem;
          margin-bottom: 1.75rem;

          @include _768 {
            font-size: 14px;
          }
        }

        .arrowerrback {
          .arrow {
            width: 230px * $width-rate;
            max-width: 230px * $width-rate;

            @include _768 {
              max-width: 190px;
            }

            &:hover {
              color: #fff;
            }
          }

          .arrow .arrow_circle {
            background: #FE5797;
            @include _768 {
              width: 44px;
              height: 44px;

              svg {
                width: 20px;
              }
            }
          }

          .arrow_line {
            background: #FE5797;
            width: 160px;
            @include _768 {
              top: 22px;
              left: 44px;
              width: 115px;
            }
          }

          .arrow_text {
            bottom: 0;
            font-size: 1.125rem;
            color: $color-white;

            @include _768 {
              font-size: 14px;
              margin-right: 32px;
            }
          }
        }
      }
    }
  }
}