.daily-shows {
  @include display-flex(row);
  height: 540px * $height-rate;
  @include _aspect-ratio {
    height: 540px * $height-rate-big;
  }

  @include _768 {
    height: auto;
  }

  .swiper-slide-prev-prev, .swiper-slide-prev, .swiper-slide-prev-prev-prev {
    visibility: hidden;
    @include _768 {
      visibility: visible;
    }
  }
  .daily-shows_controls {
    @include display-flex(row);
    width: 300px * $width-rate;
    height: 100%;
    flex-shrink: 0;
    z-index: 4;

    @include _768 {
      display: none;
    }

    .daily-shows_controls__left,
    .daily-shows_controls__right {
      @include display-flex(row);
      align-items: center;

    }
    .daily-shows_controls__right {
      align-items: flex-end;
      margin-bottom: 160px * $height-rate;
      @include _aspect-ratio {
        margin-bottom: 160px * $height-rate-big;
      }
    }
  }

  .daily-shows_panel {
    position: relative;
    //width: 100%;
    width: 460px * $width-rate;
    @include display-flex(row);
    flex-wrap: nowrap;
    margin-left: 30px * $width-rate;
    @include _768 {
      width: 212px;
      margin: 5px auto;
    }


    .daily-shows_panel__slider {
      @include display-flex(row);

      .card{
        .card_thumbnail {
          min-height: 260px * $height-rate;
          height: 260px * $height-rate;
          max-height: 260px * $height-rate;
          @include _768 {
            min-height: 115px;
            max-height: 115px;
          }
        }

        @include _768 {
          .card_thumbnail {
            .card_thumbnail__icon {
              width: 24px;
              height: 24px;
              right: -13px;
              top: -13px;
              line-height: 0;
              @include display-flex(column);
              justify-content: center;
            }
            &:after {
              width: 28px;
              height: 28px;
              top: -14px;
              right: -14px;
            }
          }
        }
        .card_content{
          .card_content__title {
            @include _768 {
              margin-top: 5px;
              margin-bottom: 3px;
            }
          }
          .card_content__description {
            @include _768 {
              display: none;
            }
          }
          .card_content__separator {
            @include _768 {
              width: 100%;
              margin-bottom: 3px;
            }
          }
        }
      }
    }

    &:after {
      height: 380px * $height-rate;
      border-radius: 20px;
      background-color: $color-white;
      padding: 40px * $height-rate 40px * $width-rate;
      position: absolute;
      left: -40px * $width-rate;
      width: 100vw;
      bottom: 0;
      z-index: -1;
      content: '';
      @include _aspect-ratio {
        height: 380px * $height-rate-big;
        padding: 40px * $height-rate-big 40px * $width-rate;
      }

      @include _768 {
        height: 96px;
        width: 100vw;
        border-radius: 16px;
        left: -158px * $width-ratemob;
      }
    }

    .card {
      width: 460px * $width-rate !important;

      .card_thumbnail__image {
        height: 100%;
        padding: 20px * $height-rate 20px * $width-rate;
        background: linear-gradient(90deg, #F86363 0%, #FF53A5 100%);
        outline: none;
        overflow: hidden;

        p{
          color: #FFFFFF;
          opacity: 0.7;
          font-size: $font-size-48;
          font-family: $font-family-accent;
          font-weight: 700;
        }
      }

      &:nth-child(5n+1){
        .card_thumbnail__image,
        .card_thumbnail__icon,
        .card_content__separator {
          background: linear-gradient(90deg, #F86363 0%, #FF53A5 100%);
        }

      }
      &:nth-child(5n+2){
        .card_thumbnail__image,
        .card_thumbnail__icon,
        .card_content__separator {
          background: linear-gradient(270deg, #FBB224 0%, #FB7E24 100%);
        }
      }
      &:nth-child(5n+3){
        .card_thumbnail__image,
        .card_thumbnail__icon,
        .card_content__separator {
          background: linear-gradient(270deg, #C9FA98 0%, #50DA6E 100%);
        }
      }
      &:nth-child(5n+4){
        .card_thumbnail__image,
        .card_thumbnail__icon,
        .card_content__separator {
          background: linear-gradient(270deg, #24FBC7 0%, #169EEB 100%);
        }
      }
      &:nth-child(5n+5){
        .card_thumbnail__image,
        .card_thumbnail__icon,
        .card_content__separator {
          background: linear-gradient(90deg, #195CAE 0%, #169EEB 100%);
        }
      }


      @include _768 {
        width: 212px !important;

        .card_thumbnail__image {
          min-height: 115px;
          max-height: 115px;
          background: linear-gradient(90deg, #F86363 0%, #FF53A5 100%);
        }
      }

      .card_content {
        @include _768 {
          padding: 5px 0;
        }
      }

      .card_content__date {
        margin-bottom: 50px * $height-rate;
        @include _aspect-ratio {
          margin-bottom: 50px * $height-rate-big;
        }

        @include _768 {
          display: none;
        }
      }

      .card_content__title {
        bottom: 10px;
        @include _768 {
          order: 1;
        }
      }

      .card_content__separator {
        @include _768 {
          order: 2;
        }
      }

      .card_content__subtitle {
        @include _768 {
          order: 3;
        }
      }
    }
  }
}

.news {
  @include display-flex(column);

  .news_slider {
    @include display-flex(column);
    position: relative;

    &:after {
      min-height: 190px * $width-rate;
      max-height: 710px * $width-rate;
      height: 100%;
      border-radius: 20px;
      background-color: $color-white;
      padding: 40px  * $height-rate 40px * $width-rate;
      position: absolute;
      left: -40px * $width-rate;
      width: 100%;
      bottom: -7px;
      z-index: -1;
      content: '';
      @include _aspect-ratio {
        padding: 40px  * $height-rate-big 40px * $width-rate;
      }

      @include _768 {
        display: none;
      }
    }

    .news_slider__slide {
      @include display-flex(row);
      flex-wrap: wrap;

      @include _768 {
        @include display-flex(column);
        width: 100%;

        &:nth-child(2),
        &:last-child {
          display: none;
        }
      }

        .card {
          width: 295px * $width-rate;
          max-width: 24%;
          @include _768 {
            width: 100%;
            padding: 0 15px;
            max-width: 100%;
          }

          &:nth-child(4n) {
            margin-right: 0;
          }
          

          .card_content {
            @include _768 {
              padding: 8px 0px 16px;
            }

            .card_content__separator {
              @include _768 {
                width: 60px;
                height: 2px;
              }
            }

            .card_content__description {
              @include _768 {
                display: block;
                font-size: 12px;
              }
            }
          }

          .card_thumbnail {
            min-height: 170px * $width-rate;
            height: 170px * $width-rate;
            max-height: 170px * $width-rate;

            @include _768 {
              border-radius: 0;
              min-height: 185px;
              max-height: 185px;
            }

            .card_thumbnail__image {
              display: flex;
              overflow: hidden;
              align-items: center;

              img{
                width: 100%;
                height: auto;
              }

              @include _768 {
                border-radius: 10px;
                min-height: 185px;
                max-height: 185px;
              }
            }

            &.bg-white {
              &:after {
                background: $color-white;
              }
            }

            &:after {
              width: 40px * $width-rate;
              height: 40px * $width-rate;
              top: -20px * $width-rate;
              right: -20px * $width-rate;
              @include _768 {
                width: 34px;
                height: 34px;
                top: -16px;
                right: -16px;
              }
            }

            .card_thumbnail__icon {
              width: 30px * $width-rate;
              height: 30px * $width-rate;
              font-size: $font-size-12;
              background: $color-primary;
              top: -15px * $width-rate;
              right: -15px * $width-rate;
              display: flex;
              @include display-flex(column);
              align-items: center;
              justify-content: center;
              @include _768 {
                width: 24px;
                height: 24px;
                font-size: 9px;
                background: #195cae;
                top: -10px;
                right: -10px;
              }
            }
          }
        }
    }
  }

  .news_controls {
    @include display-flex(row);
    justify-content: space-between;

    @include _768 {
      display: none;
    }
  }
  .news-mobile {
    display: none;
    padding: 0 16px;

    @include _768 {
      display: flex;
      justify-content: flex-end;
    }
  }
}


.banner {
  @include display-flex(row);
  justify-content: space-between;
  width: 100%;
  height: 200px * $height-rate;
  background-color: $color-accent;
  @include _aspect-ratio {
    height: 200px * $height-rate-big;
  }
  @include _768 {
    height: 77px;
  }


  .banner_section {
    //@include display-flex(column);
    padding-top: 24px * $height-rate;
    @include _aspect-ratio {
      padding-top: 24px * $height-rate-big;
    }
    @include _768 {
      padding-top: 16px
    }
    &:nth-child(2) {
      padding-top: 0;
      @include display-flex(column);
    }
    &:last-child {
      padding-top: 40px * $height-rate;
      text-align: right;
      @include _aspect-ratio {
        padding-top: 40px * $height-rate-big;
      }
      @include _768 {
        padding-top: 13px
      }
    }

    .banner_section__logo {
      display: block;
      width: 280px * $width-rate;
      height: auto;
      @include _768 {
        width: 120px;
      }
    }

    .banner_section__title,
    .banner_section__slogan {
      color: $color-white;
      font-weight: 900;
      font-family: $font-family-accent;
      display: block;

    }

    .banner_section__slogan {
      font-size: $font-size-24;
      margin-top: 10px * $height-rate;
      @include _aspect-ratio {
        margin-top: 10px * $height-rate-big;
      }
      @include _768 {
        display: none;
      }
    }

    .banner_section__youtube {
      display: block;
      width: 180px * $width-rate;
      height: auto;
      align-self: center;
      margin: auto 0;
      @include _768 {
        width: 50px;
      }
    }

    .banner_section__title {
      font-size: $font-size-48;
      text-align: right;

      @include _768 {
        font-size: 12px;
      }
    }

    .btn {
      margin-top: 36px * $height-rate;
      margin-right: 0;
      margin-left: auto;
      @include _aspect-ratio {
        margin-top: 36px * $height-rate-big;
      }
      @include _768 {
        margin-top: 5px;
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 7px 6px;
      }
      @include _350 {
        margin-top: 5px;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 5px;
        padding: 7px 6px;
      }
    }
  }
}

.news_slider__container {
  display: -webkit-inline-box;

  .swiper-slide-next, .swiper-slide-prev{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
  }
  .swiper-slide-active {
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
  }
}

.vjs-error-display {
  background-image: url("../images/placeholderlive.svg") !important;
  background-size: cover!important;
}

.vjs-error-display .vjs-modal-dialog-content{
  display: none!important;
}
.vjs-error-display:before{
  display: none!important;
}