.main-menu {
  position: absolute;
  @include _768() {
    display: none;
  }
}

.prognav {
  background-image: url("../../../images/dist/headimg.svg");
  background-size: cover;
  min-height: 820px * $height-rate;
  padding-top: 30vh;
  @include _aspect-ratio {
    min-height: 820px * $height-rate-big;
  }
  @include _768() {
    display: none;
  }

  .main-menu_container, .main-menu_logo {
    background-color: transparent;
    @include _768() {
      background-color: #07132B;
    }
  }

  .searchprog {
    margin: 0 auto;
    width: 785px * $width-rate;

    form {
      position: relative;
      z-index: 10;
    }

    &::after {
      content: "";
      clear: both;
      display: table
    }

    input[type="text"] {
      width: 785px * $width-rate;
      height: 60px * $width-rate;
      padding-left: 30px * $width-rate;
      border-radius: 50px;
      border: 0;
      background: #fff;
      outline: none;
      position: relative;
      font-size: $font-size-24;
      font-family: $font-family-accent;
      @include _aspect-ratio {
        height: 70px * $height-rate-big;
      }
    }

    button {
      width: 60px * $width-rate;
      height: 60px * $width-rate;
      border: 5px * $width-rate solid rgba($color-primary, 0.5);
      border-radius: 50px;
      right: -1px;
      background: #fff;
      position: absolute;
      @include _aspect-ratio {
        height: 70px * $height-rate-big;
      }

      svg {
        width: 30px * $width-rate;
      }
    }

    .resultprog {
      background-color: rgba(196, 196, 196, 0.5);
      font-family: $font-family-accent;
      border-radius: 10px;
      position: relative;
      top: -35px * $height-rate;
      z-index: 0;
      min-height: 85px * $height-rate;
      @include _aspect-ratio {
        top: -35px * $height-rate-big;
        min-height: 85px * $height-rate-big;
      }

      ul {
        padding: 50px * $height-rate 0 20px * $height-rate 30px * $width-rate;

        @include _aspect-ratio {
          padding: 50px * $height-rate-big 0 20px * $height-rate-big 30px * $width-rate;

        }

        li {
          font-size: $font-size-24;
          padding-bottom: 10px * $height-rate;
          @include _aspect-ratio {
            padding-bottom: 10px * $height-rate-big;
          }
          a{
            color: #222222;
            text-decoration: none;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

.mobsearch{
  display: none;
  @include _768() {
    display: block;
    height: 100px;
    width: 100%;
    z-index: 999;
    position: fixed;

    .search {
      background: linear-gradient(90deg, #195CAE 0%, #169EEB 100%);
      text-align: center;
      padding: 10px 15px;

      form{
        input[type="text"]{
          width: 100%;
          height: 32px;
          border-radius: 20px;
          border: 0;
          font-size: 12px;
          padding: 5px 10px;

          &::placeholder{
            color: #07132B;
            opacity: 0.5;
          }
        }
        button{
          width: 32px;
          height: 32px;
          border-radius: 50%;
          border: 3px rgba(22, 158, 235, 0.8) solid;
          position: absolute;
          padding: 5.5px;
          background-color: #fff;
          right: 14px;
          svg{
            width: 15px;
          }
        }
      }
    }
    .allprogs {
      background: linear-gradient(90deg, rgba(25, 92, 174, 0.8) 0%, rgba(22, 158, 235, 0.8) 100%);
      border-radius: 0 0 15px 15px;
      position: absolute;
      z-index: 99999;

      .listprog{
        max-height: 0px;
        overflow: hidden;
        transition: 2s;

        &.active {
          max-height: 700px;
          transition: 2s;
        }

        ul{
          display: flex;
          flex-wrap: wrap;
          padding: 10px 15px 0px 15px;
          li{
            font-family: $font-family-accent;
            font-size: 12px;
            padding: 6px 16px;
            background: #fff;
            //border: 2px #000 solid;
            border:0;
            border-radius: 20px;
            margin-right: 8px;
            margin-bottom: 8px;
            a{
              text-decoration: none;
              color: #000;
            }
            &:nth-child(1), &:nth-child(6), &:nth-child(11), &:nth-child(15) {
              border: 2px #FB5D7E solid;
              //box-shadow: 0px 0px 0px 2px #FB5D7E inset;
              a {
                color: #FB5D7E;
              }
            }
            &:nth-child(2), &:nth-child(7), &:nth-child(12), &:nth-child(16) {
              border: 2px #FFB342 solid;
              //box-shadow: 0px 0px 0px 2px #FFB342 inset;
              a {
                color: #FFB342;
              }
            }
            &:nth-child(3), &:nth-child(8) {
              border: 2px #90EB84 solid;
              //box-shadow: 0px 0px 0px 2px #90EB84 inset;
              a {
                color: #90EB84;
              }
            }
            &:nth-child(4), &:nth-child(9), &:nth-child(13) {
              border: 2px #2FE7F2 solid;
              //box-shadow: 0px 0px 0px 2px #2FE7F2 inset;
              a {
                color: #2FE7F2;
              }
            }
            &:nth-child(5), &:nth-child(10), &:nth-child(14) {
              border: 2px #178ddb solid;
              //box-shadow: 0px 0px 0px 2px #178ddb inset;
              a {
                color: #178ddb;
              }
            }
          }
          .active {
           background: #000;
            a{
              color: #fff;
            }
            &:nth-child(1), &:nth-child(6), &:nth-child(11), &:nth-child(15) {
              background: $gradient-red border-box;
              border: 2px transparent solid;
              //box-shadow:unset;
              a{
                color: #fff;
              }
            }
            &:nth-child(2), &:nth-child(7), &:nth-child(12), &:nth-child(16) {
              background: $gradient-orange border-box;
              border: 2px transparent solid;
              //box-shadow:unset;
              a{
                color: #fff;
              }
            }
            &:nth-child(3), &:nth-child(8) {
              background: $gradient-green border-box;
              border: 2px transparent solid;
              //box-shadow:unset;
              a{
                color: #fff;
              }
            }
            &:nth-child(4), &:nth-child(9), &:nth-child(13) {
              background: linear-gradient(270deg, #24FBC7 0%, #169EEB 100%) border-box;
              border: 2px transparent solid;
              //box-shadow:unset;
              a{
                color: #fff;
              }
            }
            &:nth-child(5), &:nth-child(10), &:nth-child(14) {
              background: $gradient-blue border-box;
              border: 2px transparent solid;
              //box-shadow:unset;
              a{
                color: #fff;
              }
            }
          }
        }
      }
      button{
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        background: transparent;
        border-radius: 0 0 15px 15px;
        border: 0;
        padding: 15px;
        justify-content: center;
        @include display-flex(column);
        align-items: center;
        flex-direction: inherit;
        p{
          color: #fff;
          margin-right: 5px;
        }
        span{
          display: none;
          &.active {
            display: inherit;
          }
        }
      }
    }
  }
}

.progblock {
  @include _768() {
    margin-top: 120px;
  }

  .news {
    display: none;
    transition: .5s;
    transform: scale(0.5);
  }

  .actives {
    display: flex;
    transition: .5s;
    transform: scale(1);
  }

  .sortprog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px * $height-rate;
    @include _aspect-ratio {
      margin-bottom: 50px * $height-rate-big;
    }
    @include _768() {
      margin-bottom: 20px;
    }

    .leftsel {
      @include _768() {
        padding: 0 15px;
      }
      .progsort {
        font-family: $font-family-accent;
        margin-right: 28px * $width-rate;
        font-size: $font-size-18;
        color: $color-primary;
        border: 0 $color-background;
        background-color: $color-background;
        opacity: 0.5;
        @include _768() {
          font-size: 10px;
          padding: 0;
        }

        .arrowsortprog {
          margin-left: 0.3rem;
          display: none;
        }

        .active {
          display: inherit;
        }

        svg {
          width: 12px * $width-rate;
          padding-bottom: 2px;
          @include _768() {
            width: 6px;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .active {
        opacity: 1;
      }
    }
  }

}

.prognavigation {
  position: relative;
  @include _768() {
    display: none;
  }

  .navig {
    z-index: 2;
    position: relative;
    max-width: 1360px * $width-rate;
    margin: auto;
    display: flex;
    bottom: 60px * $height-rate;
    @include _aspect-ratio {
      bottom: 60px * $height-rate-big;
    }
    .slideprog {
      display: flex;
      z-index: 10;
      max-width: 1260px * $width-rate;
      width: 1260px * $width-rate;
      padding: 0 28px * $width-rate;

      .swiper-slide-active {
        visibility: visible;
        opacity: 1;
        transition: .5s;
      }

      .swiper-slide-prev {
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        transform: scale(0.5);
      }
      .swiper-slide-prev-prev, .swiper-slide-prev-prev-prev {
        visibility: hidden;
        transform: scale(1);
      }
      .swiper-slide-5 {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        transition: .5s;
      }


      .swiper-slide-6, .swiper-slide-7, .swiper-slide-8 {
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        transform: scale(0.5);
      }

      ul {
        display: flex;
        width: 100%;

        li {
          min-width: 140px * $width-rate;
          text-align: center;
          color: $color-primary;
          margin-right: 73px * $width-rate;

          //&:first-child {
          //  margin-left: 28px * $width-rate;
          //}

          &:last-child {
            margin-right: 0;
          }

          button {
            width: 120px * $width-rate;
            height: 120px * $width-rate;
            border: 0;
            border-radius: 100%;
            margin-bottom: 20px * $height-rate;
            position: relative;
            background-color: #fff;
            @include _aspect-ratio {
              margin-bottom: 20px * $height-rate-big;
            }

            &:after {
              position: absolute;
              z-index: -1;
              background: $color-background;
              width: 134px * $width-rate;
              height: 131px * $width-rate;
              left: -7.5px * $width-rate;
              top: -7px * $width-rate;
              content: '';
              border-radius: 100%;
            }

            svg {
              margin-top: 5px;
              width: 100%;
              height: 55%;

              path {
                fill: $color-primary;
              }
            }
          }

          p {
            font-size: 18px * $width-rate;
            font-family: Lato;
          }
        }
        .active {
          &:nth-child(1), &:nth-child(6), &:nth-child(11), &:nth-child(16) {
            color: #FB5D7E;

            button {
              svg {
                path {
                  fill: #FB5D7E;
                }
              }
            }
          }

          &:nth-child(2), &:nth-child(7), &:nth-child(12), &:nth-child(17) {
              color: #FFB342;

              button {
                svg {
                  path {
                    fill: #FFB342;
                  }
                }
            }
          }

          &:nth-child(3), &:nth-child(8), &:nth-child(13), &:nth-child(18) {
              color: #90EB84;

              button {
                svg {
                  path {
                    fill: #90EB84;
                  }
                }
            }
          }

          &:nth-child(4), &:nth-child(9), &:nth-child(14), &:nth-child(19) {
              color: #2FE7F2;

              button {
                svg {
                  path {
                    fill: #2FE7F2;
                  }
                }
              }
          }

          &:nth-child(5), &:nth-child(10), &:nth-child(15), &:nth-child(20) {
              color: #178ddb;

            button {
                svg {
                  path {
                    fill: #099EF1;
                  }
                }
            }
          }
        }

      }
    }

    .arrowback, .arrownext {
      padding-top: 70px * $height-rate;
      z-index: 99;
      @include _aspect-ratio {
        padding-top: 70px * $height-rate-big;
      }

      button {
        border: 0;
        border-radius: 50px;
        width: 50px * $width-rate;
        height: 50px * $width-rate;
        background: #000;
        @include display-flex(column);
        align-items: center;
        justify-content: center;

        @include _aspect-ratio {
          height: 50px * $height-rate-big;
        }

        svg {
          width: 10px * $width-rate;
        }
      }

      &.swiper-button-disabled {
        button{
          background: #DDE3E8;
        }
      }
    }
  }
}




.programs-container {
  @include display-flex(column);

  .programs-row {
    @include display-flex(row);
    margin-bottom: 100px * $height-rate;
    position: relative;
    @include _aspect-ratio {
      margin-bottom: 100px * $height-rate-big;
    }
    @include _768() {
      display: block;
      margin-bottom: 0;
    }

    &:after {
      height: 60%;
      border-radius: 20px;
      background-color: $color-white;
      padding: 20px * $height-rate 40px * $width-rate;
      position: absolute;
      left: -40px * $width-rate;
      width: 100%;
      bottom: 0;
      z-index: -1;
      content: '';

      @include _aspect-ratio {
        padding: 20px * $height-rate-big 40px * $width-rate;

      }
    }

    .card {
      max-width: 25%;
      @include _768() {
        margin-right: 0;
        max-width: 100%;
      }
      .card_thumbnail {
        height: 170px * $height-rate;
        @include _aspect-ratio {
          height: 170px * $height-rate-big;
        }
        @include _768() {
          height: 210px;
        }

        img {
          @include _768() {
            border-radius: unset;
            height: 210px;
          }
        }

        .card_thumbnail__image {
          &:hover {
            transform: scale(1.025);
          }
        }

        &.bg-white {
          &:after {
            background: $color-white;
          }
          @include _768() {
            display: none;
          }
        }

        &:after {
          width: 40px * $width-rate;
          height: 40px * $width-rate;
          top: -20px * $height-rate;
          right: -15px * $width-rate;
          @include _aspect-ratio {
            top: -20px * $height-rate-big;
          }
          @include _768() {
            display: none;
          }
        }

        .card_thumbnail__icon {
          width: 30px * $width-rate;
          height: 30px * $width-rate;
          line-height: 35px * $height-rate;
          font-size: $font-size-12;
          background: $color-primary;
          top: -15px * $height-rate;
          right: -10px * $width-rate;
          @include _aspect-ratio {
            line-height: 35px * $height-rate-big;
            top: -15px * $height-rate-big;
          }
          @include _768() {
            display: block;
            width: 24px;
            height: 24px;
            font-size: 9px;
            top: 10px;
            right: 15px;
          }
        }
      }
      .card_content {
        @include _768() {
          padding: 8px 15px 15px 15px;
        }
        .card_content__title {
          @include _768() {
            font-size: 14px;
            color: #07132B;
            margin-bottom: 5px;
          }
        }
        .card_content__separator {
          @include _768() {
            width: 60px;
            height: 2px;
            margin-bottom: 5px;
          }
        }
        .card_content__description {
          @include _768() {
            font-size: 12px;
          }
        }
        .card_content__date {
          @include _768() {
            font-size: 9px;
          }
        }
      }
    }
  }
}