.main-menu {
  position: initial;
  display: flex;
}
.progpage {
  .mobtext{
    display: none;
    @include _768() {
      display: block;
      padding: 0 15px;
      font-size: 18px;
      color: #195AAE;
    }
  }

  .news {
    @include _768() {
      width: 100%!important;
      max-width: 768px!important;
      padding: 10px 20px!important;
    }
    .programs-container {
      .programs-row {
        &:after {
          @include _768() {
            display: none !important;
          }
        }
        .card {
          max-width: 25%;
          a{
            img{
              @include _768() {
                border-radius: 16px !important;
              }
            }
          }
          .card_content {
            @include _768() {
              padding: 8px 0px 15px 0px!important;
            }
          }
        }
      }
    }
  }

  .programpage {
    margin: auto;
    padding: 100px * $height-rate 50px * $width-rate 0 50px * $height-rate;
    max-width: 1360px * $width-rate;
    width: 1360px * $width-rate;
    margin-bottom: 160px * $height-rate;
    @include _aspect-ratio {
      padding: 100px * $height-rate 50px * $width-rate 0 50px * $height-rate-big;
      margin-bottom: 160px * $height-rate-big;
    }
    @include _768() {
      padding: 0;
      width: 100%;
      max-width: 768px;
      margin-bottom: 15px;

    }

    .headprog {
      display: flex;
      justify-content: space-between;
      font-size: $font-size-18;
      font-family: $font-family-accent;
      color: $color-primary;
      margin-bottom: 50px * $height-rate;
      @include _aspect-ratio {
        margin-bottom: 50px * $height-rate-big;
      }
      @include _768() {
        font-size: 10px;
        padding: 15px;
        margin-bottom: 0;
      }

      .leftcol {
        span {
          padding-right: 30px * $width-rate;
          margin: auto;
          @include _768() {
            vertical-align: middle;
          }

          svg{
            @include _768() {
              width: 5px;
            }
          }

          &:last-child {
            padding-right: 0;
          }
        }

        .nonactive {
          opacity: 0.5;
        }
      }

      .rightcol {
        display: flex;

        div {
          padding-right: 30px * $width-rate;

          &:last-child {
            padding-right: 0;
          }
        }

        .date {
          margin: auto;
          @include _768() {
            display: none;
          }
        }
      }
    }

    .contentprog {
      display: flex;
      justify-content: space-between;
      position: relative;

      &:after {
        height: 75%;
        border-radius: 20px;
        background-color: #fff;
        padding: 1.85185vh 2.08333vw;
        position: absolute;
        left: -2.08333vw;
        width: 100%;
        bottom: -30px;
        z-index: -1;
        content: '';
        @include _768() {
          display: none;
        }
      }

      .infoprog {
        width: 940px * $width-rate;
        margin-right: 15px * $width-rate;
        @include _768() {
          width: 100%;
          margin-right: 0;
        }

        .videoplay {
          position: relative;
          margin-bottom: 30px * $height-rate;
          @include _aspect-ratio {
            margin-bottom: 30px * $height-rate-big;
          }
          @include _768() {
            margin-bottom: 0px;
          }

          iframe {
            width: 940px * $width-rate;
            height: 530px * $height-rate;
            border-radius: 10px;
            @include _aspect-ratio {
              height: 530px * $height-rate-big;
            }
            @include _768() {
              width: 100%;
              height: 340px * $height-rate;
              border-radius: unset;
            }
          }
          .age {
            background: linear-gradient(90deg, #195CAE 0%, #169EEB 100%);
            width: 70px * $width-rate;
            height: 70px * $width-rate;
            position: absolute;
            left: -30px * $width-rate;
            top: -40px * $height-rate;
            border-radius: 50%;
            z-index: 3;
            text-align: center;
            font-size: 24px * $width-rate;
            color: #fff;
            padding-top: 25px * $height-rate;
            font-family: $font-family-accent;
            @include _aspect-ratio {
              height: 75px * $height-rate-big;
              top: -35px * $height-rate-big;
              padding-top: 25px * $height-rate-big;
            }
            @include _768() {
              display: none;
            }
          }

          &:before {
            content: '';
            width: 100px * $width-rate;
            height: 100px * $height-rate;
            border-radius: 50%;
            background: #f8f9fb;
            top: -50px * $height-rate;
            left: -50px * $width-rate;
            position: absolute;
            z-index: 2;
            @include _aspect-ratio {
              height: 100px * $height-rate-big;
              top: -50px * $height-rate-big;
            }
            @include _768() {
              display: none;
            }
          }
        }

        .datemob {
          display: none;
          @include _768() {
            display: flex;
            justify-content: space-between;
            padding: 10px 15px;

            .date{
              font-size: 9px;
              color: #195CAE;
            }
            .more{
              width: 10px;

              .opentx {
                display: none;
                &.active {
                  display: block;
                }
              }
              .closetx {
                display: none;
                transform: rotate(180deg);
                &.active {
                  display: block;
                }
              }
            }
          }
        }

        .textprog {
          @include _768() {
            padding: 0px 15px;
          }
          .withtitle{
            h1 {
              font-family: $font-family-accent;
              font-size: 24px * $width-rate;
              font-weight: 700;
              margin-bottom: 20px * $height-rate;
              @include _aspect-ratio {
                margin-bottom: 20px * $height-rate-big;
              }
              @include _768() {
                font-size: 14px;
                margin-bottom: 5px;
              }
            }
          }

          .separator{
            display: none;
            @include _768() {
              display: block;
              width: 60px;
              height: 2px;
              margin-bottom: 5px;
              background: linear-gradient(90deg,#f86363 0,#ff53a5 100%);
            }
          }

          .content {
            @include _768() {
              max-height: 48px;
              overflow: hidden;
              line-height: 16px;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              transition: 1s;

              &.active {
                max-height: 1000px;
                display: block;
                transition: 1s;
              }
            }
            p {
              font-size: $font-size-18;
              opacity: 0.7;
              @include _768() {
                font-size: 12px;
                opacity: 1;
              }
            }
          }
        }
      }
      .moreprog {
        width: 350px * $width-rate;
        position: relative;
        @include _768() {
          display: none;
        }

        .title {
          font-family: $font-family-accent;
          @include _aspect-ratio {
            margin-bottom: 20px * $height-rate-big;
          }

          p {
            color: #195AAE;
            font-size: $font-size-24;
            font-weight: 700;
          }
        }
        .proglist {
          height: 736px * $height-rate;
          overflow: hidden;
          @include _aspect-ratio {
            height: 736px * $height-rate-big;
          }

          .card{
            width: 300px * $width-rate;
            height: 235px * $height-rate;
            margin-bottom: 10px * $height-rate;
            @include _aspect-ratio {
              height: 235px * $height-rate-big;
              margin-bottom: 10px * $height-rate-big;
            }
            &:first-child{
              margin-top: 20px * $height-rate;
              @include _aspect-ratio {
                margin-top: 20px * $height-rate-big;
              }
            }

            a {
              img{
                width: 300px * $width-rate;
                height: 168px * $height-rate;
                @include _aspect-ratio {
                  height: 235px * $height-rate-big;
                }
              }
            }

            .card_content {
              .card_content__title {
                font-size: 18px * $width-rate;
              }
            }
          }
          .scroll-element {
            display: none;
          }
        }
        .scroll-element_outer {
          .scroll-bar {
            border-radius: 10px;
            background: $color-primary;
            border: 0;
            width: 10px * $width-rate;
            height: 90px * $height-rate;
            position: absolute;
            @include _aspect-ratio {
              height: 90px * $height-rate-big;
            }

            &:hover {
              background: rgba($color-primary, 0.8);
            }
          }
          .scroll-element_size,
          .scroll-element_track {
            width: 2px;
            height: 750px * $height-rate;
            background-color: #DDE3E8;
            position: absolute;
            top: 0;
            left: 4px;
            z-index: -1;
          }
        }
        .external_scrollbar {
          position: absolute;
          max-width: 10px * $width-rate;
          border-radius: 10px;
          border: 0;
          height: 100%;
          z-index: 1000;
          right: -35px * $width-rate;
          top: 20px * $height-rate;
          left: auto;
          max-height: 600px * $height-rate;
          @include _aspect-ratio {
            max-height: 600px * $height-rate-big;
            top: 20px * $height-rate-big;

          }
        }
      }
    }
  }
  .news {
    margin: auto;
    padding: 100px * $height-rate 50px * $width-rate 0 50px * $height-rate;
    max-width: 1360px * $width-rate;
    width: 1360px * $width-rate;
    @include _aspect-ratio {
      padding: 100px * $height-rate 50px * $width-rate 0 50px * $height-rate-big;
    }
  }
  @include _768() {
    .programs-container {
      .programs-row {
        .card {
          .card_thumbnail {
            .card_thumbnail__icon {
              top: -12px;
              right: -8px;
              line-height: unset;
              @include display-flex(column);
              align-items: center;
              justify-content: center;
            }
            &::after{
              display: block;
              width: 30px;
              height: 30px;
              top: -15px;
              right: -11px;
            }
          }
        }
      }
    }
  }
}