body {
  background: linear-gradient(180deg, $color-white 0%, $color-background 25%);

  @media screen and (max-height: 1100px){
    background: linear-gradient(180deg, $color-white 0%, $color-background 32.5%);

  }
}
.contacts-connect{
  @include _768() {
    margin: 10px auto;
    max-width: 345px;
  }
  .contacts-card {
    &:before {
      @include _768() {
        height: 120px;
      }
    }
    &:nth-child(1) {
      .contmob {
        display: none;
        @include _768() {
          display: inherit;
        }
      }
      @include _768() {
        width: 136px;
        height: 120px;
        order: 2;
        margin-right: 0;
        .contacts-card_icon {
          //margin-top: 22px;
          bottom: -16px;
          top: 16px;
        }
      }
    }
    &:nth-child(2) {
      @include _768() {
        display: none;
      }
    }
    &:nth-child(3) {
      @include _768() {
        width: 200px;
        height: 120px;
        margin-right: 8px;
        order: 1;
        .contacts-card_icon {
          //margin-top: 22px;
          bottom: -26px;
        }
      }
    }

    .contacts-card_icon{
      @include _768() {
        width: 60px;
        height: 60px;
        min-height: 60px;
        order: 2;
        background: linear-gradient(180deg,#fff 60%,transparent 60%)!important;
        bottom: -16px;
        @include display-flex(column);
        align-items: center;
        justify-content: center;
      }

      .contacts-card_icon__phone {
        @include _768() {
          width: 16px!important;
          height: 30px!important;
          margin-top: inherit!important;
        }
      }
      .contacts-card_icon__email {
        @include _768() {
          width: 25px!important;
          height: 20px!important;
          margin-top: inherit!important;
        }
      }
    }
    .contacts-card_content {
      @include _768() {
        order: 1;
        padding: 10px 1vw 0;
        height: 75px;
      }

      .contacts-card_content__title {
        @include _768() {
          font-size: 18px;
          margin-top: 10px;
        }
      }
      .contacts-card_content__link {
        @include _768() {
          font-size: 12px;
          font-weight: 700;
        }
      }
      .contacts-card_content__subtitle {
        @include _768() {
          display: none;
        }
      }
    }
  }
}
.director {
  margin-top: 80px * $height-rate;
  @include display-flex(row);
  justify-content: center;
  position: relative;
  @include _aspect-ratio {
    margin-top: 80px * $height-rate-big;
  }
  @include _768() {
    display: block;
    margin-top: 40px;
    height: 600px;

    &:before {
      position: absolute;
      content: '';
      background: $color-white;
      width: 100%;
      height: 490px;
      border-radius: 20px;
      bottom: 0;
      z-index: -1;
    }
  }

  .director_bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 640px * $height-rate;
    width: 1040px * $width-rate;
    z-index: -1;
    @include _aspect-ratio {
      height: 640px * $height-rate-big;
    }
    @include _768() {
      display: none;
    }
  }

  .director_thumbnail {
    min-width: 380px * $width-rate;
    height: 380px * $width-rate;
    border-radius: 50%;
    align-self: center;
    background: $color-primary;


    @include _768() {
      width: 200px;
      height: 200px;
      margin: auto;
    }

    .director_thumbnail__image {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .director_content {
    @include display-flex(column);
    padding: 60px * $height-rate 50px * $width-rate;
    margin-left: 65px * $width-rate;
    justify-content: center;

    @include _aspect-ratio {
      padding: 60px * $height-rate-big 50px * $width-rate;
    }

    @media screen and (min-width: 1500px) {
      padding: 0;
    }

    @include _768() {
      margin-left: 0;
      padding: 15px 30px;
    }

    .director_text {
      padding-left: 40px * $width-rate;
      font-size: $font-size-18;
      @include _768() {
        font-size: 12px;
      }



      .director_content__title {
        font-family: $font-family-accent;
        font-size: $font-size-24;
        font-weight: 700;
        color: $color-primary;
        margin-bottom: 10px * $height-rate;
        display: block;
        @include _aspect-ratio {
          margin-bottom: 10px * $height-rate-big;
        }
        @include _768() {
          text-align: center;
          font-size: 18px;
        }
      }

      .director_content__subtitle {
        display: block;
        font-family: $font-family-accent;
        font-weight: 700;
        margin-bottom: 20px * $height-rate;
        @include _aspect-ratio {
          margin-bottom: 20px * $height-rate-big;
        }
        @include _768() {
          text-align: center;
          font-size: 14px;
        }
      }

      .director_content__text {
        margin-bottom: 36px * $height-rate;
        text-indent: 36px * $width-rate;
        @include _aspect-ratio {
          margin-bottom: 36px * $height-rate-big;
        }
        @include _768() {
          line-height: 16px;
          color: rgba(7, 19, 43, 0.7);
          text-align: justify;
          margin-bottom: 2px;
        }
      }
    }

    .director_socials {
      @include display-flex(row);
      @include _768() {
        margin: 10px auto;
      }

      .director_socials__link {
        @include display-flex(column);
        text-decoration: none;
        margin-right: 20px * $width-rate;

        &:hover {
          text-decoration: underline;
        }

        &:last-child {
          margin-right: 0;
        }
        @include _768() {
          align-items: center;
          margin-right: 10px;
        }

        .director_socials__link_icon {
          @include circle(100px, $color-background);
          text-align: center;
          margin-bottom: 10px * $height-rate;
          @include display-flex(column);
          align-items: center;
          justify-content: center;
          @include _aspect-ratio {
            margin-bottom: 10px * $height-rate-big;
          }

          svg{
            vertical-align: middle;
          }
          @include _768() {
            width: 38px;
            height: 38px;
            line-height: 38px;
          }
        }

        &.director_socials__link___instagram {
          .director_socials__link_icon {
            //padding-top: 25px * $height-rate;
            @include _aspect-ratio {
              //padding-top: 25px * $height-rate-big;
            }
          }

          .director_socials__link_icon__image {
            width: 46px * $width-rate;
            height: auto;
            @include _768() {
              width: 17px;
            }
          }
        }

        &.director_socials__link___tiktok {
          .director_socials__link_icon {
            //padding-top: 26px * $height-rate;
            @include _aspect-ratio {
              //padding-top: 26px * $height-rate-big;
            }
          }

          .director_socials__link_icon__image {
            width: 40px * $width-rate;
            height: auto;
            @include _768() {
              width: 16px;
            }
          }
        }

        &.director_socials__link___youtube {
          .director_socials__link_icon {
            //padding-top: 35px * $height-rate;
            @include _aspect-ratio {
              //padding-top: 35px * $height-rate-big;
            }
            @media screen and (max-width: 1000px) {
              //padding-top: 45px * $height-rate;
            }

          }

          .director_socials__link_icon__image {
            width: 40px * $width-rate;
            height: auto;
            @include _768() {
              width: 18px;
            }
          }
        }

        &.director_socials__link___telegram {
          .director_socials__link_icon {
            //padding-top: 30px * $height-rate;
            @include _aspect-ratio {
              //padding-top: 30px * $height-rate-big;
            }
          }

          .director_socials__link_icon__image {
            width: 42px * $width-rate;
            height: auto;
            @include _768() {
              width: 17px;
            }
          }
        }

        .director_socials__link_title {
          font-size: $font-size-18;
          color: $color-primary;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

.goods {
  width: 100%;
  height: auto;
  @include _768() {
    display: none;
  }
}
.goodsmob {
  display: none;
  @include _768() {
    width: 100%;
    height: auto;
    display: block;
    padding: 0 15px;
  }
}

.staff-row {
  @include display-flex(row);
  margin-bottom: 50px * $height-rate;
  max-height: 500px * $height-rate;
  min-height: 500px * $height-rate;
  position: relative;
  justify-content: center;
  @include _aspect-ratio {
    margin-bottom: 50px * $height-rate-big;
    max-height: 500px * $height-rate-big;
    min-height: 500px * $height-rate-big;
  }
  @include _768() {
    width: 345px;
    display: block;
    min-height: 100%;
    max-height: 100%;
    margin: auto;
  }

  &:before {
    position: absolute;
    content: '';
    background: $color-white;
    width: 100%;
    height: 300px * $height-rate;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    z-index: -1;
    @include _aspect-ratio {
      height: 300px * $height-rate-big;
    }
    @include _768() {
      display: none;
    }
  }

  &:last-child {
    &:before {
      width: 420px * $width-rate;
      left: auto;
      right: auto;
    }
  }

  &:nth-child(2n+1) {
    padding: 0 80px * $width-rate;
    @include _768() {
      padding: 0;
    }

    .staff-card {
      &:nth-child(2n) {
        width: 350px * $width-rate;
        padding-top: 0;

        .staff-card_content {
          padding: 0 60px * $width-rate;
        }

        .staff-card_thumbnail {
          width: 350px * $width-rate;
          height: 350px * $width-rate;

        }
      }
    }
  }

  &:nth-child(2n) {
    padding: 0 55px * $width-rate;

    .staff-card {
      &:last-child,
      &:first-child {
        width: 350px * $width-rate;
        padding-top: 0;

        .staff-card_content {
          padding: 0 60px * $width-rate;
        }

        .staff-card_thumbnail {
          width: 350px * $width-rate;
          height: 350px * $width-rate;
        }
      }
    }
  }

  .staff-card {
    @include display-flex(column);
    width: 300px * $width-rate;
    padding-top: 50px * $height-rate;
    margin-right: 75px * $width-rate;
    @include _aspect-ratio {
      padding-top: 50px * $height-rate-big;
    }

    &:last-child {
      margin-right: 0;
    }
    @include _768() {
      width: 100%!important;
      padding-top: 0;
      margin-bottom: 10px;
      margin-right: 0;
      &:nth-child(2) {
        float: left;
        width: 128px!important;
        .staff-card_content {
          text-align: left;
          h3{
            text-align: left;
          }
        }
      }
      &:nth-child(3) {
        float: right;
        width: 128px!important;
        .staff-card_content {
          text-align: right;
          h3{
            text-align: right;
          }
        }
      }
    }

    .staff-card_thumbnail {
      width: 300px * $width-rate;
      height: 300px * $width-rate;
      margin: 0 auto 20px * $width-rate;
      border-radius: 50%;
      background: $color-primary;

      @include _768() {
        width: 128px!important;
        height: 128px!important;
      }

      .staff-card_thumbnail__image {
        display: block;
        min-width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .staff-card_content {
      padding: 0 30px * $width-rate;
      text-align: center;


      .staff-card_content__title {
        font-family: $font-family-accent;
        font-size: $font-size-24;
        font-weight: 700;
        color: $color-primary;
        display: block;
        margin-bottom: 10px * $height-rate;
        text-align: center;
        @include _aspect-ratio {
          margin-bottom: 10px * $height-rate-big;
        }
        @include _768() {
          font-size: 14px;
          margin-bottom: 4px;
        }

      }

      .staff-card_content__subtitle {
        font-family: $font-family-accent;
        font-size: $font-size-18;
        font-weight: 700;
        @include _768() {
          font-size: 12px;
        }
      }
    }

  }
}